.beadle{
        width: 32%; 
        margin: 0 auto;
}
.image{
    width: 32%; 
    margin: 0 auto;
}
.Trivia{
    width: 33%;
    margin: 0 auto; 
}
.beadle {
    border: 1px solid black; 
    padding: 10px;
}
